.account-safe-title{
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  margin-bottom: 54px;
}
.account-safe-mail,.account-safe-phone,.account-safe-password{
  height: 115px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(199,199,199,.2);

  padding-right: 41px;
  padding-left: 57px;
  margin-right: 2px;
}
.account-safe-phone,.account-safe-password{
  margin-top: 20px;
}
.left_img,.center_content{
  float: left;
  height: 100%;
}
.right_recompose{
  float: right;
  height: 100%;
}
.left_img>img{
  margin: 30.5px 0;
}
.center_content{
  margin-left: 37px;
}
.center_content_title{
  color: #383838;
  opacity: .5;
  font-size: 14px;

}
.center_content_mail{
  margin-top: 10px;
  color: #383838;
  font-size: 18px;
}
.right_recompose>span{
  margin-top: 64px ;
  margin-bottom: 32px;
  display: inline-block;
  font-size: 14px;
  color:#383838 ;
  cursor: pointer;
}
.right_recompose>span:hover{
  color: #669934;
}
.account-safe-phone{
  padding-left: 56px;
}
.unbindTel{
  color: #FF543A;
}
.setedPass{
  color: #669934;
}
.setedPass1{
  color:#FF543A
}
