/*会员基本信息*/
.personal-name{
  overflow: hidden;
  min-height: 40px;
  margin-top: 10px;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: normal;
  width: 96%;
  padding-left: 20px;
}
input:disabled{
  border: 1px solid #DDD;
  background-color: #fff;
  color: #383838;
}
.personal-span {
  display: block;
  margin-bottom: 7px;
  height: 19px;
  font-size: 14px;
  color: rgba(56, 56, 56, 1);
  line-height: 19px;
}
