/* 左侧导航*/
.reading-leftBox{
  width: 13.5%;
  float: left;
}
.reading-leftBox>ul{
  margin-top: 23px;
  padding-bottom: 30px;
  border-bottom: 3px solid #c5df95;
}
.reading-leftBox>ul>li{
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  font-family:MicrosoftYaHei;

}
.navLeftActiveSty{
  font-size: 16px!important;
  background: #abca11;
  color: white;
}

.reading-leftBox>ul>li{
  line-height: 40px;
  padding-left: 35px;
}
.reading-leftBox>ul>li:not(.navLeftActiveSty):hover{
  color:#61b977 ;
}
.reading-writerBox,.reading-addTeam{
  padding: 32px 0;
  border-bottom: 1px solid rgba(199,199,199,0.5);

}
.reading-topic{
  margin-top: 10px;
  color: rgba(38,38,38,0.6);
  font-size: 14px;
}
.reading-writerBox>p:nth-child(2){
  margin-top: 20px;
}
.reading-writerBox>p>span{
  font-size: 12px;
  font-family:MicrosoftYaHei;
}
.reading-writerImg{
  padding: 10px 0px 0px 10px;
}
.reading-writerImg>img{
  width: 36px;
  height: 36px;
  border-radius: 20px;
  margin-top: 10px;
  margin-right: 10px;
}
